<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReSharperFormatOnSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ReSharperFormatOnSave.Properties.Settings>
      <setting name="FormatLargeFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFormatOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compatibility_ExclusionExpression" serializeAs="String">
        <value />
      </setting>
    </ReSharperFormatOnSave.Properties.Settings>
    <SteveCadwallader.CodeMaid.Properties.Settings>
      <setting name="EnableFormatOnSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compatibility_ExclusionExpression" serializeAs="String">
        <value />
      </setting>
      <setting name="Compatibility_UseUndoTransactions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Compatibility_SkipUndoTransactionsDuringAutoCleanupOnSave"
        serializeAs="String">
        <value>True</value>
      </setting>
    </SteveCadwallader.CodeMaid.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>